*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family:'Plain Light';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
position: relative;
background-color: #111;
}
#crsr{
    height: 3.2vw;
    width: 3.2vw;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 999;
    position: fixed;
    mix-blend-mode: difference;
}

#loader {
    background-color: #0B0B0B; 
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 25vw 10vw;
}
.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-size: 500;
}
.line{
   
   overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw
}

#line-part1{
    display: flex;
   align-items: center;
   justify-content: center;
    gap:1.5vw;
}
#line-part1 h5 , #line-part1 h6{
    font-size: 4vw;
  font-family:'Silk Serif';
  font-weight: 100;

}
#line-part1 h5{
   
    width: 5vw;
    text-align: right;
}

.line h2{
    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 900;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite
}
@keyframes anime{
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke:1px #fff;
        color:#fff;
        font-weight:500;
        opacity: 1;
    }
    48%{
        font-family: "Plain Light";
        -webkit-text-stroke:1px #fff;
        color:#fff;
        font-weight:500;
        opacity: 0;
    }

    50%{
        font-family: Silk Serif;
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight:500;
        opacity: 1;
    }
    
    100%{
        font-family: Silk Serif;
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight:500;
        opacity: 0;
    }
    
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    padding: 2.3vw 5.5vw;
    display:flex;
    align-items:center;
    justify-content: space-between;
    font-size: 2vw;
}

.brand__svg {
    width: 5vw;  /* Adjust as needed */
    height: 8vw;
}


#page1 #nav-part2{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3vw;
}

#nav-part2 h5{
    font-size: 1vw;
    font-weight: 500;
}

.hero{
   
    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    height:fit-content;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}

.hero:nth-child(2){
    margin-top: 18vh;
}

.hero h1{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 600;

}
 
.hero h2,.hero h3{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 600;

}
.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
}
